<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1><%= @announcement.name %></h1>
    </div>
  </div>

  <div class="panel-body">
    <p><strong>Body:</strong></p><br>
    <%= @announcement.body %>
  </div>
  <div class="panel-footer">
    <% if current_user.id == @announcement.user_id %>
      <%= link_to 'Edit', edit_announcement_path(@announcement) %> |
      <%= link_to 'Back', announcements_path %>
    <% end %>
  </div>
</div>
