<div class="jumbotron">
  <div class="container">
    <% if current_user %>
      <h1>Welcome back <%= current_user.name %>!</h1>
    <% end %>

    <h2>Today is <%= Time.now.strftime("%A, %B %d, %Y") %>.</h2>

    <p><%= link_to "About", about_path, class: "btn btn-primary btn-lg", role: "button" %></p>

    <% if current_user.try(:teacher?) %>
      <p><%= link_to new_assignment_path, class: "btn btn-primary btn-lg", role: "button" do %>
        <span class="glyphicon glyphicon-plus"></span>
        Create Assignment
      <% end %></p>
    <% end %>


    <% if @announcements.any? %>

    <br />

    <h2>Announcements</h2>
    <div class="row">
      <% @announcements.each do |announcement| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3><strong><%= announcement.name %></strong></h3>
              <p>Posted by <%= announcement.user.name if announcement.user %></p>
              <p><%= raw announcement.body %></p>
              <% if session[:user_id] %>
                <% if current_user.id == announcement.user_id %>
                  <p>
                    <%= link_to "Edit", edit_announcement_path(announcement), :class => "btn btn-primary", role: "button" %>
                    <%= link_to "Destroy", announcement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary", role: "button" %>
                  </p>
                <% end %>
              <% end %>
            </div><!-- ./caption -->
          </div><!-- ./thumbnail -->
        </div> <!-- ./col-sm-6 col-md-4 -->
      <% end %>
    </div><!-- ./row -->
    <% end %>
  </div> <!-- ./container -->
</div> <!-- ./jumbotron -->
