<div class="panel-body">
  <% if @submission.submitted? %>
    You have already submitted, so more work is prohibited. Please see your teacher for assistance if needed.

  <% elsif @submission.assignment.work_allowed? %>
    <%= form_for(@submission) do |f| %>
      <% if @submission.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

          <ul>
          <% @submission.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= hidden_field_tag :assignment_id, params[:assignment_id] %>
      </div>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class:'summernote' %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit to teacher", :class => "btn btn-primary" %>
        <%= f.submit "Save as a Draft", :class => "btn btn-default" %>
      </div>

    <% end %>
  <% else %>
    Work isn't allowed on this assignment. Please see your teacher for assistance if needed.
  <% end %>
</div>
