<div class="panel-body">
  <% if @submission.assignment.work_allowed? %>
    <%= form_for(@submission) do |f| %>
      <% if @submission.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

          <ul>
          <% @submission.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= hidden_field_tag :assignment_id, params[:assignment_id] %>
      </div>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, class:'summernote' %>
      </div>
      <div class="form-group">
        <%= f.label :submitted %>
        <%= f.check_box :submitted, class: "form-control" %>
        <p>ONLY CHECK THIS BOX WHEN YOU ARE READY TO SUBMIT YOUR ESSAY.</p>
        <p>YOU <b>WILL NOT</b> be able to edit your essay once this is checked and saved.</p><br>
      </div>
      <div class="form-group">
        <%= f.submit "Save", :class => "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    Work isn't allowed on this assignment. Please see your teacher for assistance if needed.
  <% end %>
</div>
