<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1><%= @submission.title %></h1>
    </div>
  </div>

  <div class="panel-body">
    <p><strong>Body:</strong></p><br>
    <%= raw @submission.body %>
  </div>

  <div class="panel-footer">
    Submitted: <%= @submission.submitted %> |
    <% if @submission.assignment_id? %>
      Assignment: <%= @submission.assignment.name %>
    <% end %>
  </div>

  <div class="panel-footer">
    <% if @submission.assignment.work_allowed? %>
      <%= link_to 'Edit', edit_submission_path(@submission) %> |
    <% end %>
    <%= link_to 'Back', submissions_path %>
  </div>
</div>
