<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @submission.submitted %>
</p>

<% if @submission.assignment_id? %>
  <p>
    <strong>Assignment:</strong>
    <%= @submission.assignment.name %>
  </p>
<% end %>
<div>
<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
</div>

<br>

<p>
  <strong>Body:</strong>
  <%= raw @submission.body %>
</p>
