<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Clutch", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Departments <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "English", english_path %></li>
            <li><%= link_to "Music", music_path %></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <% if current_user %>
          <% if current_user.try(:admin?) %>
            <%= link_to "/admin" do %>
              <span class="glyphicon glyphicon-off"></span> Admin
              <% end %>
          <% elsif current_user.try(:teacher?) %>
              <li>
                <%= link_to new_assignment_path do %>
                  <span class="glyphicon glyphicon-plus"></span> Create Assignment
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to submissions_path do %>
                  <span class="glyphicon glyphicon-inbox"></span> Submissions
                <% end %>
              </li>
          <% end %>
          <li><%= link_to "Log out", signout_path %></li>
        <% else %>
          <li><%= link_to "Sign in", "/auth/google_oauth2" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
